<p>
  <b>Municipio:</b>
  <%=h @notaria.municipio_id %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @notaria.descripcion %>
</p>


<%= link_to 'Edit', edit_notaria_path(@notaria) %> |
<%= link_to 'Back', notarias_path %>