<div class="form-horizontal well">
  <table width="100%">
  <tr valign="middle">
    <th colspan="2"><div align="right">
          <%= hidden_field :personasgiro, :id %><%= submit_tag "Guardar", :class=>"btn btn-primary"%>
    </div></th>
    </tr>
  </table>
</div>
    