<p>
  <b>Municipio:</b>
  <%=h @oficina.municipio_id %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @oficina.descripcion %>
</p>


<%= link_to 'Edit', edit_oficina_path(@oficina) %> |
<%= link_to 'Back', oficinas_path %>