<p>
  <b>Comite:</b>
  <%=h @comitessolicitud.comite_id %>
</p>

<p>
  <b>Solicitud:</b>
  <%=h @comitessolicitud.solicitud_id %>
</p>


<%= link_to 'Edit', edit_comitessolicitud_path(@comitessolicitud) %> |
<%= link_to 'Back', comitessolicitudes_path %>